
body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  box-sizing: border-box;
}

div.frame {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-width: 0px;
  border-color: #f05;
  border-style: solid;
  transition: border-width 200ms ease;
  overflow: hidden;
  pointer-events: none;
}
.hands-on div.frame {
  border-width: 5px;
}

div.controls {
  position: absolute;
  top: 25px;
  left: 25px;
  padding: 10px;
  background: white;
  color: black;
  font-size: 13px;
  border-radius: 5px;

  strong {
    color: #f05;
  }

  fieldset {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 5px;
    }

    legend {
      color: #f05;
      font-weight: bold;
    }

    label {
      display: inline-block;
      margin-bottom: 5px;

      & + label {
        margin-left: 15px;
      }

      input[type=checkbox] {
        margin-right: 7px;
      }

    }

    p {
      width: 180px;
      margin: 10px;

      &.area {
        position: relative;
        height: 90px;

        input {
          position: absolute;
          width: 65px;
          height: 22px;
          text-align: center;
          border: 1px solid #ccc;
          border-radius: 4px;

          &.area-top {
            left: 50%;
            top: 0px;
            transform: translate(-50%, 0px);
          }

          &.area-left {
            left: 0px;
            top: 50%;
            transform: translate(0px, -50%);
          }

          &.area-right {
            right: 0px;
            top: 50%;
            transform: translate(0px, -50%);
          }

          &.area-btm {
            left: 50%;
            bottom: 0px;
            transform: translate(-50%, 0px);
          }

        }

      }

      textarea.raw-json {
        height: 100px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-family: Menlo, Monaco, Consolas, monospace;
        padding: 5px;
        color: #555;

      }

      button {
        margin: 10px 0px;
        width: 100%;
        height: 30px;
        background-color: white;
        border: 2px solid #f05;
        border-radius: 4px;
        color: #f05;
        font-weight: bold;

        &:active {
          background-color: #f05;
          color: white;
        }

      }

    }

  }

}

div.prompt {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;

  p {
    text-align: center;
    font-size: 45px;
    margin: 0.75em 0;
  }

}

div.app-zone {
  pointer-events: none;
  position: absolute;
  border: 2px dotted #345;

  p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #345;
    margin: 0px;
    padding: 0px;
  }

}

ul.hands {
  pointer-events: none;
  list-style: none;
  margin: 0;
  padding: 0;

  li.hand {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #cf0;
    width: 50px;
    height: 50px;
    border-radius: 50px;

  }

}

div.calibration {
  pointer-events: none;

  div.marker {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    border: 3px dotted #222;
    border-radius: 50px;
    text-align: center;
    padding-top: 7px;
    color: transparent;

    &.complete {
      border: 2px solid #9f0;
      background-color: transparent;
      color: #9f0;
    }

    &.current {
      border-style: solid;
      border-color: #0cc;
    }

    &.registering {
      background-color: #0cc;
    }


  }

}

ul.confidence-grid {
  position: absolute;
  left: 0px;
  top: 0px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  pointer-events: none;

  li {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    transform: translate(-50%, -50%);

  }

}
